

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  font-family: 'Libre Baskerville', serif;
}

.btn-primary {
  color: #fff;
  background-color: #602C21;
  border-color: #29100b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #602C1F;
  border-color: #29120d;
}

.btn {
  border-radius: 0px;
}

.facility-heading {
  font-size: 35px;
  line-height: 89px;
  color: #333333;
}

p {
  font-size: 15px;
 line-height: 25px;
}